.UserInfoWrapper{
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    width: 295px;
    margin-left: 6px;
}

.userAvatar {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

.userName {
    margin-top: 29px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
}

.userLogin {
    margin-top: 12px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #0064EB;
}

.userSubscribesInfo {
    margin-top: 23px;
    height: 24px;
    display: flex;
    align-items: center;
}

.userFollowers {
    margin-left: 9px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.followersIcon {
    width: 22px;
    height: 14px;
}

.userFollowing {
    margin-left: 12px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.followingIcon {
    margin-left: 20px;
    width: 16px;
    height: 16px;
}