.emptyReposPageContainer{
    width: 877px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyReposPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyReposPageIcon {
    padding-bottom: 42px;
    margin-top: 229px;
}

.emptyReposText {
    font-family: Inter, sans-serif;
    font-size: 22px;
    line-height: 140%;
    color: #808080;
}


@media screen and (max-width: 1279px){
    .emptyReposPageContainer{
        width: 550px;
    }
}

@media screen and (max-width: 1000px){
    .emptyReposPageContainer{
        width: 450px;
    }
}

@media screen and (max-width: 768px){
    .emptyReposPageContainer{
        width: 400px;
    }
    .emptyReposPageIcon {
        margin-top: 100px;
    }
}

@media screen and (max-width: 400px){
    .emptyReposPageContainer{
        width: 300px;
    }
    .emptyReposPageIcon {
        margin-top: 100px;
    }
}