.repositoryItem {
    margin: 24px 0 24px 32px;
}
.repositoryWrapper{
    width: 877px;
    background: #FFFFFF;
    margin-bottom: 24px;
    height: 112px;
}

.repositoryName {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;
}

.repositoryDescription {
    margin-top: 16px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 19px;

}

@media screen and (max-width: 1279px){
    .repositoryWrapper{
        max-width: 550px;
    }
}

@media screen and (max-width: 1000px){
    .repositoryWrapper{
        max-width: 450px;
    }
}

@media screen and (max-width: 768px){
    .repositoryWrapper{
        max-width: 400px;
    }
}

@media screen and (max-width: 400px){
    .repositoryWrapper{
        width: 300px;
    }
}

