.headerWrapper{
  display: flex;
  width: 100%;
  background: #0064EB;
}

.headerContent{
  display: flex;
  max-width: 1366px;
  min-height: 72px;
  align-items: center;
}

.headerLogo{
  margin-left: 41px;
}

.searchBar {
  border: 0;
  border: none;
  margin-left: 22px;
  padding-left: 44px;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  background: url("../../assets/icons/searchSmall.png") no-repeat 19px 13px;
  background-color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #808080;
}

.searchBar:focus {
  outline: none;
  box-shadow: 0 0 0 2pt #808080;
}


@media screen and (max-width: 768px){
  .headerWrapper{
    display: flex;
    justify-content: center;
  }
  .headerLogo{
    margin-left: 10px;
  }
  .searchBar {
    width: 300px;
    margin-left: 10px;
    padding-left: 25px;
    background: url("../../assets/icons/searchSmall.png") no-repeat 5px 13px;
    background-color: #FFFFFF;
  }
}

@media screen and (max-width: 380px){
  .headerWrapper{
    display: flex;
    justify-content: center;
  }
  .headerLogo{
    margin-left: 10px;
  }
  .searchBar {
    width: 220px;
    margin-left: 10px;
    padding-left: 25px;
    background: url("../../assets/icons/searchSmall.png") no-repeat 7px 13px;
    background-color: #FFFFFF;
  }
}