.userReposContainer {
    max-width: 877px;
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    margin-right: 56px;
}

.userReposCount {
    margin: 29px 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
}

.userReposListWrapper{
    width: 877px;
    display: flex;
    flex-direction: column;

}

.paginator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 1279px){
    .userReposContainer{
        width: 650px;
    }

    .userReposListWrapper{
        width: 650px;
    }
}

@media screen and (max-width: 400px){
    .userReposContainer {
        width: 320px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .userReposListWrapper{
        width: 320px;
        justify-content: center;
        align-items: center;
    }

    .paginator{
        max-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
}